QMenuBar {
    background: rgb(80, 200, 250);
    color: black;
    spacing: 3px;
    padding: 2px;
    border: none;
}

QMenuBar::item {
    background: transparent;
    padding: 4px 12px;
    border-radius: 4px;
}

QMenuBar::item:selected,
QMenuBar::item:pressed,
QMenu::item:selected,
QTabBar::tab:selected,
QTabBar::tab:hover,
QtLayerWidget[selected="true"],
QtLayerWidget:hover,
QtListView::item:hover,
QListView::item:selected,
QListView::item:hover,
QTreeView::item:selected,
QTreeView::item:hover,
QTableView::item:selected,
QTableView::item:hover,
QComboBox QAbstractItemView::item:selected,
QMainWindow::separator:hover,
QSplitter::handle,
QSplitter::handle:hover,
QScrollBar::handle {
    background: rgb(80, 200, 250);
    background-color: rgb(80, 200, 250);
    color: black;
}

QMenu::item {
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
}

QtLayerList,
QtLayerButtons,
QtViewerButtons {
    min-width: 242px;
    padding: 4px;
    border: none;
}

QtLayerWidget {
    padding: 0px;
    border-radius: 2px;
    min-height: 32px;
    max-height: 32px;
    min-width: 228px;
    border: none;
}

QDockWidget {
    border: none;
}

QMainWindow::separator {
    width: 4px;
    height: 4px;
    border: none;
}

QSplitter::handle,
QScrollBar::handle {
    border: none;
}

QGroupBox {
    border-radius: 5px;
}

QGroupBox::title {
    subcontrol-origin: margin;
}

QTabBar::tab {
    padding: 6px 12px;
    margin: 1px;
    border: none;
    border-radius: 2px;
}

QtLayerControlsContainer QLabel,
QtLayerControlsContainer QLineEdit,
QtLayerControlsContainer QTextEdit,
QtLayerControlsContainer QPlainTextEdit,
QtLayerControlsContainer QComboBox,
QtLayerWidget QLabel,
QtLayerWidget QLineEdit,
QtLayerWidget QTextEdit,
QtLayerWidget QPlainTextEdit,
QtLayerWidget QComboBox {
    background-color: transparent;
}

QLineEdit {
    border-radius: 4px;
    padding: 1px;
}
